@page "/pacientes/crear"
@using CentroSenderos_2026_Shared.DTO
@inject IHttpServicio Http
@inject NavigationManager Nav
@rendermode InteractiveAuto


<h3>Crear Nuevo Paciente</h3>

@if (cargando)
{
    <p>Cargando datos...</p>
}
else
{
    <EditForm Model="@modelo" OnValidSubmit="Grabar" FormName="CrearPacienteForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h5>Datos Personales</h5>
        <div class="form-group">
            <label>Nombre Completo</label>
            <InputText class="form-control" @bind-Value="modelo.Nombre"/>
            <ValidationMessage For="@(() => modelo.Nombre)" />
        </div>

        <div class="form-group">
            <label>DNI</label>
            <InputText class="form-control" @bind-Value="modelo.DNI" />
            <ValidationMessage For="@(() => modelo.DNI)" />
        </div>

        <div class="form-group">
            <label>Número de Afiliado</label>
            <InputNumber class="form-control" @bind-Value="modelo.NumeroAfiliado" />
            <ValidationMessage For="@(() => modelo.NumeroAfiliado)" />
        </div>

        <div class="form-group">
            <label>Teléfono</label>
            <InputText class="form-control" @bind-Value="modelo.Telefono" />
            <ValidationMessage For="@(() => modelo.Telefono)" />
        </div>

        <div class="form-group">
            <label>Domicilio</label>
            <InputText class="form-control" @bind-Value="modelo.Domicilio"/>
            <ValidationMessage For="@(() => modelo.Domicilio)" />
        </div>

        <div class="form-group">
            <label for="obraSocial">Obra Social</label>
            <InputSelect id="obraSocial" class="form-control" @bind-Value="modelo.TipoObraSocialId">
                <ValidationMessage For="@(() => modelo.TipoObraSocialId)" />
                <option value="0">-- Seleccione una obra social --</option>
                @if (tiposObraSocial != null)
                {
                    @foreach (var obra in tiposObraSocial)
                    {
                        <option value="@obra.Id">@obra.Tipo</option>
                    }
                }
            </InputSelect>
        </div>

        <div class="form-group">
            <label for="diagnostico">Diagnóstico</label>
            <InputSelect id="diagnostico" class="form-control" @bind-Value="modelo.TipoDiagnosticoId">
                <option value="0">-- Seleccione un diagnóstico --</option>
                @if (tiposDiagnostico != null)
                {
                    @foreach (var diag in tiposDiagnostico)
                    {
                        <option value="@diag.Id">@diag.Tipo</option>
                    }
                }
            </InputSelect>
        </div>






        <br />
        <button class="btn btn-primary" type="submit">Guardar Paciente</button>
        <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
    </EditForm>
}

<p>@Mensaje</p>

@code {
    private PacienteCrearDTO modelo = new PacienteCrearDTO
    {
        Nombre = string.Empty,
        DNI = string.Empty,
        NumeroAfiliado = 0,
        Telefono = string.Empty,
        Domicilio = string.Empty,
        TipoObraSocialId = 0,
        TipoDiagnosticoId = 0
    };

    private List<TipoDTO> tiposObraSocial = new();
    private List<TipoDTO> tiposDiagnostico = new();

    private bool cargando = false;
    private string Mensaje = "";


    protected override async Task OnInitializedAsync()
    {
        cargando = true;

        var respObra = await Http.Get<List<TipoDTO>>("api/tipoobrasocial/ListaTipoObraSocial");
        if (!respObra.Error && respObra.Respuesta != null)
            tiposObraSocial = respObra.Respuesta;
        else
            Mensaje = respObra.ObtenerError();

        var respDiag = await Http.Get<List<TipoDTO>>("api/tipodiagnostico/ListaTipoDiagnostico");
        if (!respDiag.Error && respDiag.Respuesta != null)
            tiposDiagnostico = respDiag.Respuesta;
        else
            Mensaje = respDiag.ObtenerError();

        cargando = false;
    }


    


    private async Task Grabar()
    {
        var resp = await Http.Post<PacienteCrearDTO, int>("api/paciente/insertar", modelo);
        if (!resp.Error)
        {
            Mensaje = "Paciente guardado correctamente.";
            await Task.Delay(500);
            Nav.NavigateTo("/pacientes", forceLoad: true);
        }
        else
        {
            Mensaje = resp.ObtenerError();
        }
    }

    private void Cancelar()
    {
        Nav.NavigateTo("/pacientes");
    }
}
