@page "/pacientes/crear"
@using CentroSenderos_2026_Shared.DTO
@inject IHttpServicio Http
@inject NavigationManager Nav
@rendermode InteractiveAuto

<h3>Crear Nuevo Paciente</h3>

@if (cargando)
{
    <p>Cargando datos...</p>
}
else
{
    <EditForm Model="@modelo" OnValidSubmit="Grabar" FormName="CrearPacienteForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h5>Datos Personales</h5>
        <div class="form-group">
            <label>Nombre Completo</label>
            <InputText class="form-control" @bind-Value="modelo.Nombre"/>
            <ValidationMessage For="@(() => modelo.Nombre)" />
        </div>

        <div class="form-group">
            <label>DNI</label>
            <InputText class="form-control" @bind-Value="modelo.DNI" />
            <ValidationMessage For="@(() => modelo.DNI)" />
        </div>

        <div class="form-group">
            <label>Número de Afiliado</label>
            <InputNumber class="form-control" @bind-Value="modelo.NumeroAfiliado" />
            <ValidationMessage For="@(() => modelo.NumeroAfiliado)" />
        </div>

        <div class="form-group">
            <label>Teléfono</label>
            <InputText class="form-control" @bind-Value="modelo.Telefono" />
            <ValidationMessage For="@(() => modelo.Telefono)" />
        </div>

        <div class="form-group">
            <label>Domicilio</label>
            <InputText class="form-control" @bind-Value="modelo.Domicilio"/>
            <ValidationMessage For="@(() => modelo.Domicilio)" />
        </div>

        <div class="form-group">
            <label>Obra Social</label>
            <InputSelect class="form-control" @bind-Value="modelo.TipoObraSocialId">
                <option value="1">OSDE</option>
                <option value="2">IOMA</option>
                <option value="3">SURA</option>
                <option value="4">Swiss Medical</option>
                <option value="5">Medifé</option>
                <option value="6">Galeno</option>
                <option value="7">BMI</option>
                <option value="8">Accord Salud</option>
                <option value="9">Particular</option>
            </InputSelect>
        </div>

        <div class="form-group">
            <label>Diagnóstico</label>
            <InputSelect class="form-control" @bind-Value="modelo.TipoDiagnosticoId">
                <option value="1">Trastorno del Espectro Autista (TEA)</option>
                <option value="2">Parálisis Cerebral</option>
                <option value="3">Síndrome de Down</option>
                <option value="4">Discapacidad Intelectual</option>
                <option value="5">Dislexia</option>
                <option value="6">Dispraxia</option>
                <option value="7">Trastorno del Lenguaje</option>
                <option value="8">TDAH</option>
                <option value="9">TGD</option>
                <option value="10">Hipoacusia</option>
            </InputSelect>
        </div>


        <br />
        <button class="btn btn-primary" type="submit">Guardar Paciente</button>
        <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
    </EditForm>
}

<p>@Mensaje</p>

@code {
    private PacienteCrearDTO modelo = new PacienteCrearDTO
    {
        Nombre = string.Empty,
        DNI = string.Empty,
        NumeroAfiliado = 0,
        Telefono = string.Empty,
        Domicilio = string.Empty,
        TipoObraSocialId = 10,
        TipoDiagnosticoId = 11,
    };

    private bool cargando = false;
    private string Mensaje = "";

    private async Task Grabar()
    {
        var resp = await Http.Post<PacienteCrearDTO, int>("api/paciente/insertar", modelo);
        if (!resp.Error)
        {
            Mensaje = "Paciente guardado correctamente.";
            await Task.Delay(500);
            Nav.NavigateTo("/pacientes", forceLoad: true);
        }
        else
        {
            Mensaje = resp.ObtenerError();
        }
    }

    private void Cancelar()
    {
        Nav.NavigateTo("/pacientes");
    }
}
